# Environment Variables for Vercel Deployment / Local development

# Django Settings
DJANGO_SECRET_KEY=django-insecure-tvgw!r8&61#f0qrqv2()q1_7)r+g&5rerhm*^3oo5=vd1u+3^2
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,.vercel.app

# Database configuration
# Leave blank to fallback to SQLite for local development.
# In Vercel production, provide a database URL (e.g. postgres://...)
# DATABASE_URL=postgres://user:password@host:port/database
